{% extends 'base.html.twig' %}

{% block pageTitle %}Le réseau To-Do !{% endblock %}
{% block title %}Réseau Tout Doux !{% endblock %}

{% block stylesheets %}
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>

        body {
            background-color: #eeeeee;
        }
        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        .dropdown-toggle::after {
            content: none;
            display: none;
        }
    </style>
    <!------ Include the above in your HEAD tag ----------
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        
<!---->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-white">
        <a href="#" class="navbar-brand">{{ title }}</a>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                {% if admin %}
                    <div class="card-body">
                        <div class="h5">@{{ app.user.username }}</div>
                        <div class="h7 text-muted">Nom : {{ app.user.fullName ?? 'User' }}</div>
                        <div class="h7">
                        {{ job }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">{{ followers }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">{{ following }}</div>
                        </li>
                        <li class="list-group-item">{{ quote }}</li>
                    </ul>
                {% else %}
                    <div class="card-body">         
                        <div class="h6 text-muted">Utilisateur non-connecté</div>               
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Connectez vous pour pouvoir répondre et poster sur le site</div>
                        </li>
                        <li class="list-group-item">Bienvenue sur le Réseau Tout Doux, ou vous retrouverez des news de What to.do</li>
                    </ul>
                {% endif %}
                </div>
            </div>
            
            <div class="col-md-6 gedf-main">
                {% if admin %}
                <!-- Post form -->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Nouveau Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        {{ form_start(post_form) }}
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    {{ form_widget(post_form.content) }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="image">
                                        {{ form_widget(post_form.image) }}
                                        <label class="custom-file-label" for="customFile">Ajouter une image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Partager</button>
                            </div>
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-globe"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    {{ form_widget(post_form.visibility) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(post_form) }}
                    </div>
                </div>
                {% endif %}
                
                <!-- Posts list -->
                {% for post in posts %}
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50?random={{ post.id }}" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@{{ post.author.username }}</div>
                                    <div class="h7 text-muted">{{ post.author.fullName ?? 'User' }}</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop{{ post.id }}">
                                        <div class="h6 dropdown-header">Actions</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        {% if app.user == post.author %}
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        {% else %}
                                            <a class="dropdown-item" href="#">Report</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.timeAgo }}</div>
                        {% if post.title %}
                            <a class="card-link" href="{{ path('social_view_post', {'id': post.id}) }}">
                                <h5 class="card-title">{{ post.title }}</h5>
                            </a>
                        {% endif %}

                        <p class="card-text">{{ post.content }}</p>
                        
                        {% if post.imageFilename %}
                            <div class="mb-3">
                                <img src="{{ asset('uploads/posts/' ~ post.imageFilename) }}" alt="Post image" class="img-fluid">
                            </div>
                        {% endif %}
                        
                        {% if post.tags|length > 0 %}
                            <div>
                                {% for tag in post.tags %}
                                    <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="card-footer">
                        <a href="{{ path('social_like_post', {'id': post.id}) }}" class="card-link"><i class="fa fa-gittip"></i> Like ({{ post.likes }})</a>
                        <a href="{{ path('social_view_post', {'id': post.id}) }}#comments" class="card-link"><i class="fa fa-comment"></i> Comment ({{ post.comments }})</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share ({{ post.shares }})</a>
                    </div>
                </div>
                {% else %}
                    <div class="card gedf-card">
                        <div class="card-body">
                            <p>Aucun post pour le moment.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">À propos</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Réseau Tout Doux</h6>
                        <p class="card-text">Un simple réseau social pour partager des idées et des images avec la communauté What to.do.</p>
                        <a href="#" class="card-link">En savoir plus</a>
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Tendances</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sujets populaires</h6>
                        <p class="card-text">
                            <span class="badge badge-primary">JavaScript</span>
                            <span class="badge badge-primary">PHP</span>
                            <span class="badge badge-primary">Symfony</span>
                            <span class="badge badge-primary">ToDo</span>
                            <span class="badge badge-primary">Web</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}